/* #region */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

@media (max-width: 1199.98px) {
  [class*=__container] {
    max-width: 970px;
  }
}
@media (max-width: 990.98px) {
  [class*=__container] {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 15px;
  }
}
/* #endregion */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 5;
  color: var(--text, #31353b);
  font-size: 23px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 46px;
}

.header__link {
  color: #000;
  font-size: 13px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease 0s;
}
.header__link:hover {
  border-bottom: 2px solid #000000;
}

.header__burger {
  z-index: 5;
  display: none;
  position: relative;
  height: 24px;
  width: 24px;
}

#open-burger,
#close-burger {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#open-burger.active,
#close-burger.active {
  display: block;
}

.intro__container {
  padding-top: 180px;
}
.intro__container::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 511px;
  height: 841px;
  background: #bdccff;
  z-index: -1;
}

.intro__main {
  display: flex;
  align-items: center;
  position: relative;
}

.intro__suptitle {
  color: #f90;
  font-size: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.intro__title {
  color: #000;
  font-size: 54px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: 73px;
  width: 500px;
  margin-bottom: 23px;
}

.intro__subtitle {
  display: flex;
  width: 499px;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 48px;
}

.intro__form {
  width: 568px;
  position: relative;
  z-index: 10;
  display: flex;
  height: 86px;
}

.intro__input {
  height: 100%;
  width: 100%;
  border: 1px solid #dadada;
  background: var(--white, #fff);
  box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(0, 0, 0, 0.01), 0px 8.1481485367px 6.5185184479px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.5185203552px 25.4814815521px 0px rgba(0, 0, 0, 0.02), 0px 64.8148117065px 46.851852417px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.03);
  outline: none;
  font-size: 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #000;
  padding-left: 33px;
}

.intro__btn {
  top: 0;
  color: var(--white, #fff);
  font-size: 17px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.17px;
  background: #f85a47;
  width: 188px;
  position: absolute;
  right: -188px;
  height: 100%;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.intro__btn:hover {
  background: #d65648;
}

.intro__slider {
  width: 603px;
  height: 573px;
  position: relative;
  display: grid;
  place-items: center;
  z-index: 1;
  overflow: hidden;
}

.intro__slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}
.intro__slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
}

.intro__slider_buttons {
  display: flex;
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: -32px;
  gap: 20px;
}

.intro__slider_btn {
  cursor: pointer;
  filter: invert(1);
  transition: all 0.3s ease 0s;
}
.intro__slider_btn:hover {
  filter: invert(0);
}

.intro__slider_btn_next {
  transform: scaleX(-1);
}

.partners-intro__title {
  color: var(--text, #31353b);
  font-size: 17px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.17px;
  margin-bottom: 27px;
}

.partners-items {
  display: flex;
  align-items: end;
  gap: 30px;
}

.how {
  padding-top: 100px;
}

.how__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how__title {
  color: #000;
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  margin-bottom: 70px;
}

.how__body {
  display: flex;
  align-items: start;
  justify-content: center;
}

.item-how {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item-how__icon {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 90px;
  height: 90px;
}
.item-how__icon_1 {
  background-color: #9672ff;
}
.item-how__icon_2 {
  background-color: #4ddffd;
}
.item-how__icon_3 {
  background-color: #f2b8ec;
}

.item-how__title {
  color: #000;
  text-align: center;
  font-size: 22px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.item-how__text {
  color: #333;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.how__dec {
  padding-top: 40px;
}

.deals {
  padding-top: 200px;
}

.deals__header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 50px;
}

.deals__title {
  color: #000;
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.deals__subtitle {
  color: #000;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 470px;
}

.deals__link {
  color: #fff;
  text-align: center;
  font-size: 17px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  background: #f85a47;
  box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(248, 90, 71, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(248, 90, 71, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
  padding: 20px 33px;
  transition: all 0.3s ease 0s;
}
.deals__link:hover {
  background: #d65648;
}

.deals__nav {
  margin-bottom: 45px;
}

.deals__list {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
}

.deals__item {
  color: #000;
  font-size: 19px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease 0s;
}
.deals__item:hover, .deals__item.active {
  border-bottom: 1px solid #f85a47;
  color: #f85a47;
}

.deals__tab {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.deals__tab.active {
  display: flex;
}

.tab-deals__item {
  display: flex;
  position: relative;
  width: 370px;
  height: 300px;
  border-radius: 5px;
  gap: 6px;
  overflow: hidden;
}
.tab-deals__item:hover img {
  transform: scale(1.2);
}
.tab-deals__item img {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.5s ease 0s;
}

.item-tab-deals__link {
  display: block;
  height: 26px;
  position: inherit;
  z-index: 2;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 6px 12px;
  margin: 14px;
  transition: all 0.3s ease 0s;
}
.item-tab-deals__link:hover {
  background: #000;
}

.feat {
  padding-top: 200px;
}

.feat__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feat__title {
  color: #000;
  text-align: center;
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 95px;
}

.feat__body {
  display: flex;
  height: 650px;
  justify-content: center;
  align-items: center;
  background: #f1ffff;
  width: 100%;
  gap: 70px;
}

.feat__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 586px;
}

.feat__img {
  position: relative;
}
.feat__img img {
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.feat__img_1 {
  width: 492px;
  height: 364px;
}
.feat__img_1 img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.feat__img_2 {
  position: absolute;
  bottom: 0;
  width: 410px;
  height: 278px;
  box-shadow: 48px 58px 44px 0px rgba(0, 0, 0, 0.09), 0px 3.0185184479px 3.1481480598px 0px rgba(0, 0, 0, 0.01), 0px 13.2814817429px 6.5185184479px 0px rgba(0, 0, 0, 0.02), 0px 32.5999984741px 13px 0px rgba(0, 0, 0, 0.02), 0px 62.7851867676px 25.4814815521px 0px rgba(0, 0, 0, 0.02), 0px 105.648147583px 46.851852417px 0px rgba(0, 0, 0, 0.03), 0px 163px 80px 0px rgba(0, 0, 0, 0.04);
}
.feat__img_2 img {
  -o-object-fit: cover;
     object-fit: cover;
}

.feat__main {
  width: 412px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.main-feat__title {
  color: #000;
  font-size: 31px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 28px;
}

.main-feat__text {
  color: #545a58;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 42px;
}

.main-feat__table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 37px;
  margin-bottom: 55px;
}

.main-feat__items {
  display: flex;
  gap: 80px;
}

.main-feat__item {
  width: 93px;
}
.main-feat__item h1 {
  color: #000;
  font-size: 17px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-feat__item h2 {
  color: #545a58;
  font-size: 17px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main-feat__link {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 5px;
  background: #f85a47;
  box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(248, 90, 71, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(248, 90, 71, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
  width: 100%;
  padding: 16px 0px;
  transition: all 0.3s ease 0s;
}
.main-feat__link:hover {
  background: #d65648;
}

.feed {
  padding-top: 200px;
  padding-bottom: 200px;
}

.feed_title {
  color: #000;
  font-size: 40px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
}

.main-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}

.main-feed__item {
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 52px 0px;
  padding-left: 38px;
  padding-right: 72px;
}

.item-main-feed__stars {
  margin-bottom: 34px;
}

.item-main-feed__text {
  color: #333;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 270px;
  margin-bottom: 53px;
}

.item-main-feed__pers {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item-main-feed__name {
  color: #333;
  font-size: 16px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item-main-feed__loc {
  color: #666;
  font-size: 14px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.footer__note {
  width: 311px;
  color: #333;
  font-size: 16px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer__note u {
  color: #2cbde7;
  cursor: pointer;
}

.conn {
  background: var(--6, #fbfcfc);
  padding-top: 160px;
}

.conn__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conn__header {
  text-align: center;
  margin-bottom: 35px;
}
.conn__header h1 {
  color: var(--text, #31353b);
  font-size: 45px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 144.2%;
  letter-spacing: 0.9px;
}
.conn__header h2 {
  color: var(--text, #31353b);
  font-size: 23px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 144.2%;
  letter-spacing: 0.46px;
}

.conn__form {
  margin-bottom: 160px;
  padding: 26px 30px;
  display: flex;
  background: var(--white, #fff);
  box-shadow: 0px 3.0185184479px 3.1481480598px 0px rgba(0, 0, 0, 0.01), 0px 13.2814817429px 6.5185184479px 0px rgba(0, 0, 0, 0.02), 0px 32.5999984741px 13px 0px rgba(0, 0, 0, 0.02), 0px 62.7851867676px 25.4814815521px 0px rgba(0, 0, 0, 0.02), 0px 105.648147583px 46.851852417px 0px rgba(0, 0, 0, 0.03), 0px 163px 80px 0px rgba(0, 0, 0, 0.04);
  align-items: center;
}

.form__label {
  color: var(--text, rgba(49, 53, 59, 0.2117647059));
  font-size: 17px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: 144.2%;
  letter-spacing: 0.34px;
  margin-bottom: 8px;
}

.form__input {
  color: var(--text, #31353b);
  font-size: 20px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  line-height: 144.2%;
  letter-spacing: 0.4px;
  outline: none;
  width: 440px;
}
.form__input::-moz-placeholder {
  color: var(--text, rgba(49, 53, 59, 0.2117647059));
  font-size: 17px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: 144.2%;
  letter-spacing: 0.34px;
  margin-bottom: 8px;
}
.form__input::placeholder {
  color: var(--text, rgba(49, 53, 59, 0.2117647059));
  font-size: 17px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  line-height: 144.2%;
  letter-spacing: 0.34px;
  margin-bottom: 8px;
}

.form__button {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 23px 40px;
  color: var(--white, #fff);
  font-size: 18px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 144.2%;
  letter-spacing: 0.36px;
  background: #f85a47;
  box-shadow: 0px 1.8518518209px 3.1481480598px 0px rgba(248, 90, 71, 0.02), 0px 8.1481485367px 6.5185184479px 0px rgba(248, 90, 71, 0.03), 0px 20px 13px 0px rgba(248, 90, 71, 0.04), 0px 38.5185203552px 25.4814815521px 0px rgba(248, 90, 71, 0.04), 0px 64.8148117065px 46.851852417px 0px rgba(248, 90, 71, 0.05), 0px 100px 80px 0px rgba(248, 90, 71, 0.07);
}
.form__button:hover {
  background-color: #d65648;
}

.footer__container {
  border-top: 1px solid #dedfe1;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.footer__logo {
  color: var(--text, #31353b);
  font-size: 23px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 45px;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__link {
  color: var(--text, #31353b);
  font-size: 13px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-bottom: 1px solid rgba(49, 53, 59, 0);
  transition: all 0.3s ease 0s;
}
.footer__link:hover {
  border-bottom: 1px solid #31353b;
}

.footer__license {
  color: var(--text, #31353b);
  font-size: 12px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}